body {
    background-image: url('src/img/starbg3.gif');
    font-family: 'Ubuntu Mono', monospace; 
    color: white
}

content {
    margin: auto;
    
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
}

navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nb {
    padding: 5px;
    color: white;
    font-size: 12px;
}

nb:hover {
    background-color: white;
}

a:visited {
    color: #0077aa;
}

a:link {
    color: #0077aa;
}

thing { 
    display: flex;
    justify-content: center;
}
