body {
    background-color: black;
    font-family: 'Ubuntu Mono', monospace; 
    color: white;
}

content {
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    max-width: 1000px; 
    flex-direction: row;
}

header {
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
}

navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nb {
    padding: 5px;
    color: white;
    font-size: 12px;
}

nb:hover {
    background-color: white;
}

a:visited {
    color: #0077aa;
}

a:link {
    color: #0077aa;
}

thing { 
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    max-width: 200px; 
    margin-bottom: 50px;
}

h3 {
    font-size: 12px;  
    margin-top: 0;
    margin-bottom: 6px;
    
}

p {
    padding-top: 0px;
    padding-bottom: 0px;
} 



